@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Global Variables */

:root {
  --blue: #30407f;
  --yellow: #f6cc2b;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "sans-serif";
  align-items: center;
}

/* Navbar */
.nav {
  display: flex;
  padding: 1rem 5%;
  background-color: var(--blue);
  max-height: 10rem;
  width: 100%;
  max-width: 90%;
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Set it to stick to the top */
  z-index: 1000; /* Ensure it stays above other elements */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.logo {
  height: 3rem;
  width: auto;
  flex-shrink: 0;
  padding-left: 12rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.nav-items {
  display: flex;
  gap: 1.5rem;
}

.nav-item {
  font-size: 1.6rem;
  font-weight: 500;
}

/* Body Container */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Hero Container */

.hero-container-bg {
  background-color: var(--blue);
}

.hero-container {
  display: flex;
  margin: auto;
  min-height: 65vh;
  max-width: 80%;
  padding: 5rem 10rem;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 40%;
}

h1 {
  font-size: 6rem;
  margin: 0;
  padding: 0;
}

.hero-text p {
  font-size: 1.6rem;
  padding-bottom: 1.4rem;
}

.hero-text button {
  text-align: center;
  font-weight: 600;
  width: 10rem;
  background-color: var(--yellow);
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.346);
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #f1d97a;
}

.hero-image img {
  width: 50rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Info Items*/

.info-section-bg {
  background-color: white;
}

.info-section h2 {
  font-size: 4rem;
  text-align: center;
}

.info-section {
  max-width: 80%;
  padding: 1rem 10rem;
  margin: auto;
}

.info-item > .square {
  border: 2px solid var(--blue);
  height: 15rem;
  width: 15rem;
  border-radius: 1.5rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(140, 140, 140, 0.745);
}

.info-items {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.6rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1.5rem;
}
